@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap");

a {
  display: contents;
  text-decoration: none;
  color: var(--black);
}

:root { 
  --black: #000000;
  --white: #ffffff;
  --lgreen: #f3fde7;
  --font-family-magra: 'Magra', sans-serif;
}

body{
  align-items: flex-start;
  height: 100%;
  width: 100%;
  overflow: auto;
}

h2{
    padding-top: 120px;
    text-align: center;
    font-family: var(--font-family-magra);
    color: var(--black);
    display: flex;
    flex-direction: column;
}

.addBox{
    height: auto;
    width: 600px;
    background-color: var(--white);
    float: center;
    margin: auto;
    padding: 30px 50px;
}

.confirm{
    float: right;
}

.clear{
    clear: both;
}